.about {
    .about-item {
        padding: 141px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(even) {
            flex-direction: row-reverse;
            background-color: #FFFAF8;
        }
        &__info {
            width: 540px;
        }
        &__subtitle {
            font-size: 22px;
            text-transform: uppercase;
            color: var(--light);
            margin-bottom: 24px;
        }
        &__title {
            font-weight: 700;
            font-size: 96px;
            line-height: 100%;
            color: var(--dark);
            margin-bottom: 24px;
        }
        &__text {
            font-size: 24px;
            color: var(--light);
            margin-bottom: 24px;
        }
        &__link {
            font-size: 24px;
            line-height: 100%;
            color: var(--main-color);
            display: block;
            padding-right: 36px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                background-image: url('../../images/arrow.svg');
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 24px;
                height: 24px;

            }
        }
    }
    
    .support-img {
        width: 540px;
    }
}
