.overview {
    background-color: var(--main-color);
    .overview__inner {
        padding-top: 87px;
        
    }
    .brands {
        padding-top: 87px;
        padding-bottom: 80px;
        background-color: var(--background);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brands__img {
    }
}
