.plan {
    background-color: #FFFAF8;
    padding: 124px 0;
    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 100%;
        text-align: center;
        color: var(--dark);
        margin-bottom: 80px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
}

.plan-item {
    background-color: var(--background);
    width: 350px;
    padding: 41px 40px 60px 40px;
    border: 1px solid #f5f5f5;
    border-radius: 12px;
    &__img {
        width: 24px;
        height: 24px;
        margin-bottom: 24px;
    }
    &__title {
        font-weight: 600;
        font-size: 32px;
        color: var(--dark);
        margin-bottom: 24px;
    }
    &__list {
        margin-bottom: 24px;
        &-item {
            padding-left: 32px;
            position: relative;
            font-size: 18px;
            color: var(--dark);
            margin-bottom: 8px;
            &::before {
                position: absolute;
                content: '';
                background-image: url('../../images/check.svg');
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                top: 0;
                left: 0;
            }
        }
    }
    &__price {
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 20px;
        color: var(--light);
        span {
            font-weight: 600;
            font-size: 24px;
            color: var(--dark);
        }
    }
    &__link {
        width: 136px;
    }
}
